<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form name="{{ form.name }}"
              action="{{ form.action ? base_url ~ form.action : page.url }}"
              method="{{ method }}"{{ multipart }}>
            <div class="row">
                {% for field in form.fields %}
                    {% set value = form.value(field.name) %}
                        {% if field.name == 'name' %}
                        <div class="col-md-6">
                        {% elseif field.name == 'message' %}
                        </div>
                        <div class="col-md-6">
                        {% endif %}

                        {% include "forms/fields/#{field.type}/#{field.type}.html.twig" %}

                        {% if field.name == 'message' %}
                        </div>
                        {% endif %}
                {% endfor %}
            </div>

            {% for button in form.buttons %}
                {% set type = button.type|default('submit') %}
                {% if type == 'submit' %}
                <button class="{{ button.classes|default('btn btn-primary') }}" type="{{ type }}">{{ button.value|t|default('Submit') }}</button>
                {% else %}
                <button class="{{ button.classes|default('btn') }}" type="{{ type }}">{{ button.value|t|default('Submit') }}</button><
                {% endif %}
            {% endfor %}
        </form>
    </div>
</div>
